<form [formGroup]="inputForm">
  <mat-form-field class="example-form-field" appearance="outline"  >
    <mat-label>Input label</mat-label>
    <input matInput type="text"  autocomplete="off" formControlName="inputValue"
    (input)="onChange($event.target.value)" [(value)]="value" #textInput required>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onChange('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="inputForm.get('inputValue').hasError('required')">
      Error Message
    </mat-error>
  </mat-form-field>
  <mat-icon (click)="setValue(isDisable)">{{valueLock ?'lock_open': "lock"}}</mat-icon>
</form>
